@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-weight: 600;
    line-height: 1.2em;    
    font-family: 'Public Sans', sans-serif;
    color: #222b45;
}

strong,
b {
    font-weight: 700;
}

a {
    color: map-get($theme-colors, primary);
}

p {
    font-weight: 500;
}