@import "~uswds/dist/css/uswds.min.css";
@import "../../../uswds-vue/src/styles/uswds-vue.scss";
@import './variables.scss';
@import './typography.scss';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');


html,
body,
#app {
    height: 100%;
    width: 100%;
    background-color: rgb(243,251,255);
}

.debug-border {
    border: 1px dashed red;
}

.form-card {
    
}

.btn-link {
    text-decoration: underline;
}