@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-weight: 600;
    line-height: 1.2em;    
    //font-family: 'Public Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #222b45;
}

h1 {
    font-size: 36px;
    line-height: 44px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    line-height: 29px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

strong,
b {
    font-weight: bold;
}

a {
    font-weight: normal;
}

p {
    font-weight: normal;
}

.text-bold {
    font-weight: bold !important;
}



  