
/*
DEFAULTS

// Turn on or off breakpoints
$theme-utility-breakpoints: (
  'card':              false,   // 160px
  'card-lg':           false,   // 240px
  'mobile':            false,   // 320px
  'mobile-lg':         true,    // 480px
  'tablet':            true,    // 640px
  'tablet-lg':         false,   // 800px
  'desktop':           true,    // 1040px
  'desktop-lg':        false,   // 1200px
  'widescreen':        false,   // 1400px
);

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

$container-max-widths: (
  md: 720px,
  lg: 923.9px, // 960px,
  xl: 924px // 1140px
);


*/

$light-gray: #e3e3e3;
$medium-gray: #878787;
$dark-gray: #2c2c2c;

$black: #000000;
$white: #fbfbfb;

$body-background: #f8fbff;

$theme-colors: (
  "primary": #0071BC,
  "secondary": #6c757d,
  "success": #28a745,
  "warning": #ffc107,
  "accent": #42426f,
  "info": #17a2b8,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
  "transparent": rgba(0,0,0,0),
  "white": $white,
  "black": $black
);


